@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="card-header">
        <h1 class="display-4">Welcome to SurveyPlatform website</h1>
        <p>Here you can create your own surveys, submit responses and view them.</p>
    </div>
    <div class="card-body">
        <div class="mt-2">
            Click <a href="/SurveyQuestion/Create" class="btn btn-primary btn-sm">Create a Survey</a> to create Surveys
        </div>
        <div class="mt-2">
            Click <a href="/SurveyQuestion" class="btn btn-danger btn-sm">Submit Responses</a> to submit responses to available surveys.
        </div>
        <div class="mt-2">
            CLick <a href="/SurveyAnswer" class="btn btn-info btn-sm">View Responses</a> to view responses submitted by the user.
        </div>
    </div>
</div>
