@{
    ViewData["Title"] = "Know More";
}
<h1>@ViewData["Title"]</h1>

<p>This website has been created using GitHub copilot.<br />
    Made by: Debarati (52088252) <br/>
    <b>Project Name:</b> Online Survey Platform for a Research Institution<br/>

    <b>Details:</b> A research institution wanted to create an online survey platform to collect data from participants. The platform had to be able to create and manage surveys, collect responses, and provide analytics. The .NET team developed the platform using ASP.NET Core, Entity Framework Core, and Azure Storage. The platform included features such as survey creation, response tracking, and analytics.
    <br/>
    <b>Result:</b> The platform was successfully launched, and the research institution saw a significant increase in data collection and participant engagement.<br/>
</p>